set term postscript portrait enhanced mono 
set size 1,0.6
set output "example.ps"
set xrange [15:20]
# Only needed if default is wrong.
set xtics (15,16,17,18,19,20)
set xlabel "Cr / wt%"
set yrange [100:150]
# Only needed if default is wrong.
set ytics (100,110,120,130,140,150)
set ylabel "{/Symbol s}_{R}"
set xrange [15:20]
plot 'demo1.dat' using 3:20:21 title "" with yerrorbar

