set term postscript
set term postscript
set output "usw_prod_tps.ps"
set xdata time
set timefmt x "%H:%M:%S"
set format x "%H:%M"
set size .90,.55
set xtic auto
set ytic auto 
set title "USW Volume"
set xlabel "Time"
set ylabel "Trans Per Second (TPS)"
plot "usw_stats-smoothed.txt" using 1:7 t "TPS ALL" with lines, \
     "usw_stats-smoothed.txt" using 1:9 t "TPS PALS" with lines 
